body {
    margin: 0;
    height: 100%;
    font-family: 'Creepster', cursive;
}

.background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-image: url("bg.jpg");
    background-size: cover;
    background-position: center;
    z-index: -1;
}

section {
    padding: 40px 10%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.title {
    border-bottom: 2px solid #000;
    width: fit-content;
    margin: 3vw auto 3vw auto;
    font-weight: bold;
    text-align: center; 
}

.title h1 {
    font-size: 4rem;
    margin: 0;
}

.about-box {
    display: flex;
    align-items: center;
    gap: 50px;
}

.about-text {
    flex: 1;
    font-size: 1rem;
}

.big-title {
    font-size: 12.5rem;
    line-height: .8;
    margin: 30px 0;
    text-align: right;
}

.big-title span {
    display: block;
    font-style: italic;
    margin-left: 50px;
}

.about-img {
    flex: 1;
    display: flex;
    justify-content: center;
}

.frame {
    background: #fff;
    padding: 12px;
    box-shadow: 0 10px 30px rgba(0,0,0,.1);
}

.frame img {
    max-width: 600px;
}

.who-box {
    display: flex;
    gap: 80px;
}

.bio {
    flex: 1.5;
    font-size: 2rem;
    text-align: justify;
    align-self: center;
    padding-right: 200px;
}

.timeline-section {
    flex: 1;
    position: relative;
    border-left: 3px solid #000;
    margin-left: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding-bottom: 50px;
}

.timeline-item {
    position: relative;
    padding-left: 20px;
}

.item-left {
    position: absolute;
    right: calc(100% + 20px);
    text-align: right;
    width: 300px;
    top: 0;
}

.timeline-item h3 {
    font-style: italic;
    font-weight: normal;
    font-size: 1.8rem;
    margin: 0;
}

.timeline-item p {
    font-weight: bold;
    font-size: 1.4rem;
    margin: 5px 0;
}

@media (max-width: 1024px) {
    .who-container {
        flex-direction: column;
    }

    .timeline-section {
        margin-top: 50px;
        margin-left: 50px;
    }

    .item-left {
        position: static;
        text-align: left;
        width: auto;
    }

    .bio-text {
        text-align: left;
    }
}

.cards {
    position: relative;
    height: 300px;
}

.card {
    position: absolute;
    text-align: center;
    border: none;
    background: transparent;
}

.card img {
    width: 380px;
    border-radius: 15px;
    box-shadow: 0 10px 25px rgba(0,0,0,.1);
}

.left {
    left: 0;
}

.right {
    right: 0;
}

.center {
    left: 50%;
    transform: translateX(-50%);
    top: 60px;
    z-index: 5;
}

.colors {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    gap: 30px;
}

.color {
    width: 280px;
    border-radius: 40px;
}

.pink {
    background: #ff99dd;
    height: 280px;
}

.purple {
    background: #8c52ff;
    height: 280px;
}

.brown {
    background: #3d1a00;
    height: 280px;
}

@media (max-width: 1100px) {
    .about-box,
    .who-box {
        flex-direction: column;
        text-align: center;
    }

    .bio {
        text-align: center;
    }

    .cards {
        position: static;
        display: flex;
        flex-direction: column;
        gap: 40px;
        height: auto;
        background: #f1efea;
    }

    .card {
        position: static;
        transform: none;
    }
}

.bckbtn {
    position: fixed;
    bottom: 20px;
    right: 20px;
    padding: 12px 25px;
    font-size: 16px;
    background-color: darkgreen;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: transform 0.2s, background-color 0.2s;
    z-index: 100;
}

.bckbtn:hover {
    transform: scale(1.05);
    background-color: darkgreen;
}